WCF/Практики/2. Контракты/1. Общая сборка/CompositeContract/Client/Service References/CompositeTypeServiceReference/CompositeTypeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12130/CompositeTypeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shared.ClassLibrary" />
  <xs:element name="CompositeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shared.ClassLibrary" minOccurs="0" name="type" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompositeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Shared.ClassLibrary" minOccurs="0" name="CompositeTypeResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ans" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Shared.ClassLibrary" minOccurs="0" name="EnumTypeResult" type="q3:Answer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>