WCF/Примеры с лекций/2. Контракты/4. KnownType для метода сервиса/KnownTypeServiceMethod/Client/Service References/ShapeServiceReference/ShapeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.WebHost.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.WebHost.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Square">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Shape">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Square" nillable="true" type="tns:Square" />
  <xs:complexType name="Shape">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Shape" nillable="true" type="tns:Shape" />
  <xs:complexType name="Circle">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Shape">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Circle" nillable="true" type="tns:Circle" />
</xs:schema>