WCF/Примеры с лекций/2. Контракты/5. KnownType в конфиге/KnownTypeConfig/Client/Service References/ShapeServiceReference/ShapeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:14174/ShapeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Server.WebHost.Model" />
  <xs:element name="CreateShape">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateShapeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server.WebHost.Model" minOccurs="0" name="CreateShapeResult" nillable="true" type="q1:Shape" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>